<h1>Hello</h1>

ID: <%= Report.length['id'] %>
Name: <%= Report.length['name'] %>
<br/>

<table>
  <thead>
   <tr>
    <th>Deal ID</th>
    <th>User Name</th>
   </tr>
  </thead>
  <tbody>
   <tr>
	<% i = 0 %>
	 <% while i < Report.findAll.length %>
	<td><%= Report.findAll[i]['id'] %></td>
	<td><%= Report.findAll[i]['user_id']['name'] %></td>	
	 <% i +=1 %>
   </tr>
   <% end %>
  </tbody>
</table>


  
